//META{"name":"Custom CSS","description":"BetterDiscord Custom CSS","author":"Bluscream","version":"1.0"}*//

.connecting { height:10px;background:red; }
.connecting * { display:none; }
.channels-wrap { width:225px; }
.callout-backdrop {
    /*visibility:hidden !important;
   	/* background-color:transparent !important; */
}
.callout-backdrop {
    opacity: 0.96 !important;
   	background-color:black !important;
}
.channel-members h2, .member-role {
    text-transform: none;
    -webkit-user-select: text;
}
div[style*="/231449733715984396/"],
div[style*="/96835534579589120/"]
{
    background:black !important;
}
.image-gif, .quicksave-icon-btn, #bd-pub-li{
	display:none !important;
}
.private-channel-call-btns-wrapper {
    right:490px!important;
    position:absolute!important;
}
.private-channel-call-btns-wrapper button {
    position:absolute!important;
}
.private-channel-call-btns-wrapper button+button {
    left:35px!important;
}
#user-profile-modal .avatar-profile {
    border: 4px solid var(--lvl1) !important;
	border-radius: initial !important;
}
.bda-description,.bda-slist>li>div>font{
    -webkit-user-select: text;
}
.channel-members h2, .member-role {
    -webkit-user-select: text;
    text-transform: none;
}
.user-settings-account .ui-form-item:last-of-type .view-body.selectable-prgIYK:last-of-type {
    -webkit-filter: blur(5px)!important;
}
.user-settings-account .ui-form-item:last-of-type .view-body.selectable-prgIYK:last-of-type:hover {
    -webkit-filter: initial !important;
}
.guilds-wrapper .guilds .guild .guild-inner {
	border-radius: 0% !important;
}
.guild .avatar-small {
    animation: none !important;
}
.guild a[href*="/168242492389457921/"] {
    animation: sharex 30s linear infinite !important;
}
.guild a[href*="/194170124859736065/"] {
    animation: sharex 10s linear infinite !important;
    background-image: url(https://getsharex.com/img/ShareX_Logo_256.png) !important;
}
@keyframes sharex { to { filter: hue-rotate(360deg); } }
