//META{"name":"BaconSpaceCord","description":"Bacon_Space Theme","author":"Bacon_Space","version":"0.6"}*//

form[data-reactid=".0.1.1.0.2.1.0.1"]{
	margin: 0 !important;
}

.channel-textarea{
	margin: 20px 20px 30px !important;
}


.tooltip{
	background-color: green !important;
}

.tooltip-top:after{
	border-top-color: green !important;
}

.tooltip-right:after{
	border-right-color: grey !important;
}


.guild-channels ul .channel-text.selected:before{
	border-left: 4px solid purple !important;
}

.chat .title-wrap .topic a {
	color: green !important;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
	background-color: green !important;
	border-color: red !important;
}

.radio .radio-inner span:after {
	background:yellow !important;
}


.form .control-group input[type=email]:focus, .form .control-group input[type=password]:focus, .form .control-group input[type=text]:focus, .form .control-group textarea:focus{
	border-bottom: 2px solid green !important;
}

.user-settings-modal a {
	color: green !important;
}

.guilds li.active .guild-inner {
	background:green !important;
}

.tab-bar.SIDE .tab-bar-item:before {
	border-left: 4px  red !important;
}

.chat>.content .messages .divider.divider-red>div {
	background:yellow !important;
}

.form .btn-primary{
	background:blue !important;
}

.popout header{
	background-color:green !important;
}

.chat .new-messages-bar{
	background-color:green !important;
}


.user-popout .user-popout-options .btn:hover {
    background-color: grey !important;
}

.user-popout .user-popout-options .btn.btn-server {
 	background-color: red !important;   
}

.highlight {
 	color: yellow !important;   
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    background-color: red !important;
}
