//META{"name":"ClearDiscord_Theme","description":"A nice and clean theme","author":"Dddsasul","version":"1.0"}*//

body {
    background: url(https://i.imgur.com/uTVZzkC.jpg) !important;
    background-size:cover !important;
}
.divider > span {
    background: none !important;
}
.divider > div {
    height: 2px !important;
}
li.selected, span >div.selected, section > div > div > div > div > div.selected, .friends-row:hover, li.channel-text:hover, div.channel.private:hover, .btn-friends:hover, .messages .markup pre code.hljs, .member:hover {
    background: rgba(60, 60, 60, .2) !important;
}
.messages .markup code.inline {
    background: rgba(60, 60, 60, .4) !important;
}
.title-wrap, .messages-wrapper, .flex-spacer, .channel-members, .channels-wrap, .scroller, .account, .links, .guilds-wrapper, .btn-settings, .btn-deafen, .btn-mute, .btn-info, .btn-disconnect, .typing, .private-channels, .search-bar, .friends-header, .friends-table, .messages .markup pre, #friends, #voice-connection, header {
    background: none !important;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
	border:3px solid rgba(255,255,255,0) !important;
	background-color:rgba(0,0,0,0.7) !important;
}
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	border:3px solid rgba(255,255,255,0) !important;
	background-color:rgba(0,0,0,0.3) !important;
}
.guild-header ul {
    -webkit-transform: translate3d(0, -140%, 0) !important;
    transform: translate3d(0, -140%, 0) !important;
  }
.guild-header.guild-header-open ul {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }