//META{"name":"Dat Discord","description":" Special thanks to: Gustarrini for helping me with the commands and Chaottic for Discord Reborn","author":"Viniuau/Egeneir(on steam)","version":"0.6"}*//

.win-buttons button {
    width: 26px;
    height: 26px;
    margin-left: 5px;
}
button.win-close:hover {
    background-color: #B50303;
    border-radius: 3px;
}
button.win-maximize:hover {
    background-color: #0373B5;
    border-radius: 3px;
}
button.win-minimize:hover {
    background-color: #03B584;
    border-radius: 3px
}
.channel-members { 
    background:url(https://i.imgur.com/OGOCJcX.jpg) !important;
    background-size:cover !important;
}
.content .flex-spacer { 
    background:url(https://i.imgur.com/OGOCJcX.jpg) !important;
    background-size:cover !important;
}    
.channels-wrap { 
    background:url(https://i.imgur.com/OGOCJcX.jpg) !important;
	background-size:cover !important
}
.guilds-wrapper { 
    background:url(https://i.imgur.com/OGOCJcX.jpg) !important;
    background-size:cover !important;
}
.links,
.chat,
.guild-channels,
.typing,
.content,
.private-channels,
.divider-red span,
.messages-wrapper,
.account,
#voice-connection {
    background: transparent !important;
	font-family: Futura md BT;
}
.avatar-large {
    min-height: 70px;
    min-width: 70px;
    background-size: cover;
    border-radius: 30px !important;
}
.message-group {
    background:transparent !important;
}
.message-group h2 strong {
    font-size: 140% !important;
    font-family: Agency FB;
    letter-spacing: 1px;
}
.divider-red {
    display: none !important;
}
.message-text {
    font-family: Futura md BT;
    font-size: 200% !important;
}
.avatar-popout {
    border: none;
    border-radius: 0px;
    background-color: none;
}
.discord-tag {
    font-family: Futura md BT;
}
#voice-connection .voice-connection-status-connected {
    font-family: Futura md BT;
}
.title-wrap {
	background: url("https://i.imgur.com/OGOCJcX.jpg") !important
	background-size: cover !important
}
.markup {
    font-size: 54% !important;
    -webkit-font-smoothing: antialiased; !important
}
.message-group .edit-message {
    padding-left: 60px
}
.message-group .edit-message .edit-container-outer .avatar-large, .edit-container-inner h2 {
    display: none;
}
.callout-backdrop {
    background-color: transparent !important;
    background-image: url("https://i.imgur.com/OGOCJcX.jpg") !important;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    transition: 0.2s all ease;
    background-size: cover !important;
    background-position: center; !important
    opacity:0.7;
}
.bda-backdrop {
	 background:url(https://i.imgur.com/OGOCJcX.jpg) !important;
         background-size:cover !important;
}
.account .btn-deafen, .account .btn-mute, .account .btn-settings {
    background: transparent; !important
}
.title-wrap {
    border-bottom: 1px solid transparent !important;
    background:url("https://i.imgur.com/OGOCJcX.jpg") !important;
}
.guild-header header {
    background:url("https://i.imgur.com/OGOCJcX.jpg") !important;
}
.guild-header ul {
    background:url("https://i.imgur.com/OGOCJcX.jpg") !important;
}
.highlight {
    color: #009966 !important
}
.friends-icon:hover {
    background-color: #009966 !important
}
.friends-icon {
    background-color: #009999 !important
}
.avatar-small {
    background-color: #009999 !important
}
.avatar-small:hover {
    background-color: #009966 !important
}
.guild-inner {
    font-family: Futura md BT;
    background-color: #009999 !important
}
.guild-inner:hover {
    font-family: Futura md BT;
    background-color: #009966 !important; 
}
.friends-empty {
    background: url("https://i.imgur.com/OGOCJcX.jpg") !important
}
.friends-table {
    background: url("https://i.imgur.com/OGOCJcX.jpg") !important
}
.friends-header {
    background: url("https://i.imgur.com/OGOCJcX.jpg") !important
}
.search-bar {
    background: transparent;
}
.friends-table-header {
    font-family: Futura md BT
}
.server-row {
    background-color: #009999 !important
}
.pubs-footer {
    background: transparent !important
}
.settings-wrapper {
    background: -webkit-linear-gradient(left, #006699 0%,#099999 100%);
}
.settings-actions {
    background: -webkit-linear-gradient(left, #006699 0%,#099999 100%);
}
.tab-bar {
    background: -webkit-linear-gradient(left, #006699 0%,#099999 100%);
}
.tab-bar-item {
    font-family: Futura md BT
}
.tab-bar-item:hover {
    font-family: Helvetica
}
.user-settings-modal-games {
    background: -webkit-linear-gradient(left, #006699 0%,#099999 100%);
}
.game {
    font-family: Futura md BT
}
.game-input {
    font-family: Futura md BT
}
.Select-control {
    background: transparent
}
.Select-placeholder {
    background: transparent
}
.Select-input {
    background: transparent
}
