//META{"name":"Discord Clear Blue","description":"A fancy looking clear blue theme","author":"Taff","version":"1.0"}*//

.flex-spacer.flex-vertical {
  background:none !important;

}


.settings-header {
  background:#213248 !important;

}
.guild-channels ul .channel-text:hover a {
background-color: #1a2838 ;
}

.guild-channels ul .channel-text.selected a {
background-color: #1a2838 !important ;
}

#twitchcord-button {
  background-image: url(https://openmerchantaccount.com/img2/twitch6aa.png);

}

.twitchcord-button-open {
  background-image: url(https://openmerchantaccount.com/img2/twitch6aa.png) !important;

}

.flex-vertical > .flex-spacer {
    background-image: url("https://openmerchantaccount.com/img2/bg1discord.png"); 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
}
.tab-bar-item {
  color:darkgrey !important;

}

.guild-channels {
  background-color:#213248 !important;

}
.chat-empty {
  background:#213248 !important;

}


.channel-voice-states li {
  color:red !important;

}


.active {
  background:#213248 !important;

}

.private-channels {
  background:#213248 !important;

}

.selected {
  background:transparent !important;

}

.guilds-wrapper {
  background:#1a2838 !important;

}

.help-container {
  background:#1a2838;

}

#voice-connection {
  background:#1a2838;

}

.account {
  background:#213248 !important;

}

.links {
  background:#213248;

}

.markup {
  color:white !important;

}

.guild-header header{
  background:#1a2838 !important;

}

.channel-members {
  background:#1a2838 !important;

}

.settings-actions {
  background:#213248 !important;

}


.checkbox-inner+span {
  color:black !important;

}

.radio-inner+span {
  color: grey !important;

}


.guild-header span {
  color:white !important;

}

.title-wrap {
  background:#1a2838 !important;

}

.user-name {
  color: !important;

}

.typing {
  background:transparent !important;

}

.help-container:after {
  background:none !important;

}

.divider.divider-red span {
  color:#213248 !important;
  background:transparent !important;

}

.btn-group .btn{
  background:black !important;

}

.guilds-add {
   width:100%;
   height:100%;
   border-radius:50%;
   background:#213248;
   color:#535559;
   border:1px dashed #535559

}


#emote-menu {
  background:#213248 !important;
  border:1px solid black;

}

#emote-menu-header span {
  background:#213248 !important;
  color:#213248;

}

.channel-textarea-autocomplete {
  background:#213248 !important;

}

.channel-textarea-autocomplete-inner {
  background:#213248 !important;

}

.channel-textarea-autocomplete-inner header {
  background:#213248 !important;
  color:black !important;

}

.channel-textarea-autocomplete-inner ul li.active {
  background:grey !important;
  color:black !important;

}

.channel-textarea-autocomplete-inner ul li {
  color:black !important;

}

.user-popout header {
  background:#213248 !important;

}


.user-popout .user-popout-options .btn {
  background:#213248 !important;
  border:1px solid black

}


.form .btn-primary {
  background:black;

}

.form .btn-primary:hover {
  background:white;
  color:darkgrey;

}

.channel-textarea-autocomplete-inner{
  border-color:#213248 !important;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
  background:#213248 !important;
  border-color:white;

}

.form .control-group label {
  color:#213248;

}

.form .control-group .help-text {
  color:#213248;

}

.radio .radio-inner span:after {
  background:#213248 !important;

}


.member-role {
  color:#213248 !important;

}

.tooltip[data-reactid=".0.2.$1"] {
  background:black;

}

.tooltip[data-reactid=".0.2.$2"] {
  background:black;

}

.tooltip[data-reactid=".0.2.$3"] {
  background:black;

}

.guild-channels ul .channel-text:before {
  border-left:4px solid green !important;

}

.channel-members .invite-btn {
  background:#213248;

}

.guild-channels ul .channel-text:hover {
  background:black !important;
}

.guild-channels ul .channel-text.selected a {
background-color: #213248;
}

.tooltip-top:after, .tooltip-right:after {
  border-top-color:#213248 !important;
  border-right-color:#213248 !important;
}

.tooltip {
  background:green !important;

}

.guild-channels ul .channel-text .channel-name:before {
  color:white !important;

}

.guild-channels ul .channel-text.channel-muted:not(.selected) a {
  opacity: 1;

}

.guild-channels ul .channel-text.selected a {
  background-color:black;

}

.guilds li.active .guild-inner {
  background:black !important;

}

.guilds li.active .guild-inner, .guilds li:hover .guild-inner {
  background:black !important;

}

.user-settings-modal a {
  color:white;

}

.user-settings-modal a:hover {
  color:green;

}