//META{"name":"Discordify","description":"A Spotify inspired theme","author":"Nirewen","version":"2.6.5"}*//

.create-guild-container .create-or-join .form-inner {
	background-color: #fff;
	background-image: none;
	color: #1ED760;
	border: 1px solid gray !important;
}

.create-guild-container .action {
	background-color: #1C1C1F;
	color: #FFF;
}

input[type="number"] {
	background-color:#1C1C1F !important;
	color:white !important;
}

.create-guild-container .create-or-join .actions .or {display: none;}
.create-guild-container .create-or-join .actions {
	background-color: #121314 !important;
	border-radius: 50% !important;
}

.streamer-mode-enabled {background: #121314 !important;}

.messages-wrapper a {
	color: #1ED760 !important;
}

.messages-wrapper a:hover {color: #1DB954 !important;}

.markdown-modal a {
	color: #1ED760 !important;
}

.messages-wrapper, .flex-spacer, #friends {
	background-color: #121314 !important;
}

.guilds, #voice-connection {
	background-color: #121314 !important;
}

.guilds-add {border: 1px solid #535559;}
.guilds-add:hover {border: 1px solid #FFF; color: #535559;}


.account, .private-channels .scroller, .guild-channels, .search-bar {
	background-color: #1C1C1F !important;
}

#voice-connection {
	border-top: 1px solid #121314;
	border-bottom: 1px solid #121314;
}
.highlight {
	background-color: rgba(27, 193, 86, 0.1) !important;
	color: #1ED760;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-radius: 24px;
}
.highlight:hover {color: #1DB954 !important;}

#voice-connection .btn-group {
	border: 0px;
}

.friends-header {
	background: #1C1C1F !important;
}

.friends-table {
	background: #121314 !important;
	margin-top:0 !important;
}

.friends-header,
.friends-table .friends-table-header {
	border-bottom: 1px solid hsla(0,0%,100%,.1) !important;
}

.friends-table .friends-row:hover {
	background: #1C1C1F !important;
}

.channel.channel-text.selected:before,
.private-channels .channel.selected:before {
	border-left: 4px solid #1ED760 !important;
}

.channel.channel-text.selected,
.private-channels .channel.selected {
	background: none;
}

.channel.channel-text:hover,
.private-channels .channel:not(.selected){
	background: none;
}

.channel.channel-text:before,
.private-channels .channel:not(.selected):before {
	border-left: 0px !important;
}

.message-group:hover {
	background-color: #1C1C1F !important;
}

.user-popout .header {
	background: #1DB954 !important;
}

.user-popout .body, .user-popout .footer {
	background: #1C1C1F;
}

.member-roles .member-role {
	background-color: #121314;
	color: #FFF;
	border: 0px;
}

.slider-bar-fill {
	background: #1DB954 !important;
}

.slider-handle {
	border: 0px;
}

.popout .btn,
.sub-header .btn,
.btn.add-friend,
.btn-help:hover,
#user-profile-modal .header,
#bd-customcss-detach-container #bd-customcss-detach-controls-buttons button,
#friends .btn,
#friends .btn:hover {
	background: #1DB954 !important;
	border: 0px !important;
}

.need-help-modal .header,
.icon-friends {
	background-color: #1DB954 !important;
}

.need-help-modal .header input[type=text] {
	box-shadow: 0 0 0;
}

.need-help-modal .form-inner .failed, .need-help-modal .form-inner.loading, .need-help-modal .footer {
	border-top: 1px solid #121314;
	background-color: #1C1C1F;
}

.need-help-modal a {color: #1ED760;}

.need-help-modal a:hover {color: #1DB954;}

.user-settings-modal .voice-settings .reset-voice-settings {color: #1ED760 !important;}
.user-settings-modal .voice-settings .reset-voice-settings:hover {color: #1DB954 !important;}

.emoji-picker .categories .item.people {background-image: url(https://discordapp.com/assets/0509bf058793ef8ddd770a977e63614c.svg);}
.emoji-picker .categories .item.nature {background-image: url(https://discordapp.com/assets/aafe899a4d7ad7717acc64f5b8f36342.svg);}
.emoji-picker .categories .item.food {background-image: url(https://discordapp.com/assets/0eb5a2b715ff649e9757a232996817ab.svg);}
.emoji-picker .categories .item.activity {background-image: url(https://discordapp.com/assets/8674c1028a63d29fb605be53eeedf1bf.svg);}
.emoji-picker .categories .item.travel {background-image: url(https://discordapp.com/assets/13e86ddf4302f697243425b2f954d00b.svg);}
.emoji-picker .categories .item.objects {background-image: url(https://discordapp.com/assets/6d9a5b47dc3bf7adf54f19b1e3f6c5ad.svg);}
.emoji-picker .categories .item.symbols {background-image: url(https://discordapp.com/assets/83095e6af6c7cf33669e3ab169296867.svg);}
.emoji-picker .categories .item.flags {background-image: url(https://discordapp.com/assets/ccda5cf0a64abbd18fdb9f914b55292e.svg);}
.emoji-picker .categories .item.recent {background-image: url(https://discordapp.com/assets/0f1f2dff98b5e2099086e303d9be0dad.svg);}

.emoji-picker .category, .emoji-picker .header {
	border-top: 1px solid #1C1C1F;
	background: #1C1C1F !important;
}
.emoji-item.selected {background-color: #121314 !important;}
.emoji-picker .categories .item.selected {border-bottom: 4px solid #1ED760;}

.tab-bar.TOP {border-bottom: 0px !important;}

.tab-bar.TOP .tab-bar-item.selected {
	border-bottom: 2px solid #1ED760 !important;
	color: #FFFFFF;
}

#bda-qem {background-color: #121314 !important;}
#bda-qem-twitch-container, #bda-qem-favourite-container, .emoji-picker {background-color: #1C1C1F !important; border: 1px solid #3C3C3E;}
#bda-qem button {border-color: #3C3C3E !important; box-shadow: #3C3C3E 1px 0 0 !important; color: #FFF !important; border-top: 1px solid #3C3C3E;}
#bda-qem button.active {background-color: #1C1C1F !important;}
#bda-qem button:not(.active):hover {background-color: #121314 !important;}
.emote-container:hover {background-color: #121314 !important;}

#user-profile-modal .guilds .guild:hover {
	background: #121314 !important;
}

#user-profile-modal .empty {
	background: #1C1C1F;
}

#user-profile-modal footer {
	background: #121314;
}

.sub-header, #user-profile-modal .tab-bar {
	background-color: #121314 !important;
	border-bottom: 0px !important;
}

.tab-bar.TOP .tab-bar-item:not(.selected):hover {
	color: #FFFFFF;
	border-bottom: 0px !important;
}

.links {
	display: none;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
	border: 3px solid #121314 !important;
	background-color: #1C1C1F !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	border: 3px solid transparent !important;
	background-color: transparent !important;
}

.title-wrap, #bd-customcss-detach-container {
	border-bottom: 0px !important;
	background-color: #1C1C1F !important;
}

.title-wrap .topic a {
	color: #1DB954 !important;
}

.markdown-modal {
	color: #FFF;
	background-color: #121314;
}

.markdown-modal pre, .markdown-modal pre code {
	background: #1C1C1F;
	border: 3px solid #1C1C1F;
}

.markdown-modal-header {
	border-bottom: 0px !important;
}

.guilds-wrapper .guilds .guild .guild-inner:hover {
	background: #1ED760 !important;
}

.guilds-wrapper .guilds .friends-icon {
	background-color: #1ED760 !important;
    width: 50px;
    height: 50px;
    background-image: url(https://u.pomf.is/cqsemf.png);
    background-size: 50px 50px;
    background-position: 50%;
    background-repeat: no-repeat;
}

.guilds-wrapper .guilds .guild:first-of-type .guild-inner {
	border: 2px solid #159643 !important;
}

.guilds-wrapper .guilds .guild .guild-inner {
	border-radius: 50%;
	width: 50px;
	border: 1px solid gray;
	background-position: center;
	background: transparent !important;
}

.guilds-wrapper .guilds .guild.selected .guild-inner {
	border-radius: 50% !important;
	width: 50px;
	border: 1px solid #1DB954 !important;
	background-position: center;
	background: transparent !important;
}

.guilds-wrapper .guilds .guild.selected:before {
	display: none;
}

.typing {
	background: transparent !important
}

.guild-header header {
	background-color: #1C1C1F !important;
	box-shadow: 0 0 0;
}

.guild-header ul {
	background: #121314 !important;
	border-radius: 3px;
}

.message-group .edit-message .channel-textarea-inner {
	border-color: #1ED760 !important;
}

.channel-textarea-inner {
	border-radius: 24px;
}

.channel-textarea-autocomplete-inner {
	background: #1C1C1F !important;
	border:none !important;
	border-radius: 5px 5px 5px 5px;
}

.channel-textarea-autocomplete-inner:after {
	display:none;
}

.channel-textarea-autocomplete-inner header {
	background: #1C1C1F !important;
	border-radius:5px 5px 0 0;
	border:none !important;
}

.channel-textarea-autocomplete ul li.active {
	background: #4D4D4D !important;
}

.search-bar input {
	background-color: #FFF !important;
	color: black !important;
	font-family: Whitney !important;
	border-radius: 24px !important;
}

.search-bar-clear:before {
	background: #FFF !important;
}

.account .btn,
#voice-connection .btn {
	border-radius: 30px;
	border: 1px solid gray;
	background-color: transparent;
}

.account .btn:hover,
#voice-connection .btn:hover {
	border-radius: 30px;
	border: 1px solid #FFF;
	background-color: transparent;
}

.tooltip {
	background:#000000;
	color:#FFFFFF;
}

.tooltip.tooltip-right:after {
	border-right-color:#000000;
}

.tooltip.tooltip-top:after {
	border-top-color:#000000;
}

.tooltip.tooltip-bottom:after {
	border-bottom-color:#000000;
}

.user-settings-modal.settings {
	min-height: 100vh;
	padding-top: 0px;
	border-radius: 0px;
}

.modal .modal-inner {
	box-shadow: 0 1px 70px #000;
}

.modal .modal-image {
	background-color: #121314 !important;
}

.modal .download-button {
	text-align: center;
}

.callout-backdrop {
	background: transparent !important;
}

.modal {
	padding-top: 0;
}

.settings .settings-inner, .settings-wrapper, .settings-panel, .settings-actions, .user-settings-modal-games {
	border: 0px !important;
	background-color: #121314 !important;
	color: #FFF;
	border-top: 0px;
}

.user-settings-modal-connections .user-settings-modal-accounts-list .connect-container .name {
	color: #FFF !important;
}

.user-settings-modal-connections .user-settings-modal-accounts-list .connect-container.disabled .count {
	color: #FFF !important;
}

.user-settings-modal-connections .user-settings-modal-connections-list .connection .connection-integrations {
	background-color: #FFF !important;
}

.guild-settings-modal-members,
.guild-settings-modal-members-header,
.guild-settings-modal-list,
.guild-settings-modal-members-footer {
	background: #121314;
	color: #FFF;
}

#settings-roles .roles, .selected-role .selected-role-inner {
	background: #121314;
	color: #FFF;
}

#settings-roles .roles li.selected {
	background: none;
}

#settings-roles .roles li.selected:before {
	width: 5px; background-color: transparent; color: #FFF;
}

#settings-roles .roles li:before {
	width: 0px; background-color: transparent; color: #FFF;
}

#settings-roles .roles li:hover {
	background-color: transparent;
}

div.control-group .shortcut-recorder input[type=text] {
	color: #FFF !important;
}

.form .form-inner, .form-header, .form-actions {
	background: #121314 !important;
	color: #FFF !important;
	border-top: 0px !important;
	border-bottom: 0px !important;
}

.form header {
	color: #1DB954 !important;
}
.form .form-inner p {
	color: #FFF !important;
}

.form .control-group input[type=email],
.form .control-group input[type=password],
.form .control-group input[type=text],
.form .control-group textarea {
	border-radius: 10px !important;
	background-color: #1C1C1F;
	border-bottom: 0px;
	border-left: 4px solid transparent;
	color: #FFF;
}

.form .control-group input[type=email]:focus, .form .control-group input[type=password]:focus, .form .control-group input[type=text]:focus, .form .control-group textarea:focus {
	border-radius: 10px !important;
	background-color: #1C1C1F;
	border-bottom: 0px;
	color: #FFF;
}

.form .btn-default {
	border-radius: 30px;
	border: 3px solid transparent;
	background: #121314;
}

.form .btn-default:hover {
	border-radius: 30px;
	border-bottom: 0px;
}

.form .control-group .has-value .Select-placeholder {
	background-color: #121314;
	color: #FFF;
}

.user-settings-modal a:hover {
	color: #FFF;
}

.user-settings-modal a {
	color: #FFF;
}

.user-settings-modal button.preview-sound:before {
	-webkit-filter: hue-rotate(275deg) saturate(400%);
}

.checkbox .checkbox-inner.alt input[type=checkbox]:checked+span:after {
	border-color: #FFF !important;
}

.checkbox .checkbox-inner {
	width: 40px;
	height: 20px;
	background-color: black !important;
	border-radius: 40px;
}

.checkbox .checkbox-inner span {
	border-radius: 40px !important;
	transition: 0s !important;
}

.checkbox .checkbox-inner input:checked + span {
	background-color: #1ED760 !important;
	border: 2px solid #1ED760 !important;
}

.checkbox .checkbox-inner input + span {
	border: 2px solid #FFF;
}

.checkbox .checkbox-inner input:checked + span:after {
	border-radius: 50% !important;
	display: block !important;
	background-color: #FFFFFF;
	width: 18px !important;
	height: 18px !important;
	left: 18px !important;
	top: -2px !important;
}

.checkbox .checkbox-inner:before {
	border-radius: 50% !important;
	display: block !important;
	background-color: #FFFFFF;
	width: 19px !important;
	height: 19px !important;
}

.settings-header {
	background-color: #1C1C1F !important;
}

.tab-bar.SIDE {
	margin-right: -17px;
}

.tab-bar-item.selected:before {
	border-left: 4px solid #1ED760 !important;
}
.tab-bar-item:hover {
	background: none;
}

.tab-bar-item:before {
	border-left: 0px !important;
}

.chat>.content .messages .divider span {
	background: transparent;
}
.messages-wrapper .messages .divider.divider-red span {
	color: #1DB954 !important;
}
.messages-wrapper .messages .divider.divider-red > div {
	background: #1DB954 !important;
}

.channel-textarea-upload:hover {
	border-top-left-radius: 24px !important;
	border-bottom-left-radius: 24px !important;
}

.radio .radio-inner span:after {
	background: #1ED760 !important;
	border: 0px !important;
}

.now-playing {background: #1DB954 !important;}
.now-playing.no-detection {background: #1C1C1F !important;}
.now-playing:not(.no-detection) {
	animation: none !important;
}

.form .btn-primary, .form .btn.red {
	border-radius: 30px;
	background-color: transparent;
	border: 1px solid gray;
	transition: none;
}

.form .btn-primary:hover {
	background-color: #1C1C1F;
	border: 1px solid #FFF;
}

.channel-members {
	background-color: #121314 !important;
}

.channel-members .member:hover {
	background: #121314 !important;
}

.channel-members .member:hover > .avatar-small {
	background-color: #000000;
	opacity:0.3;
}

.messages-wrapper .avatar-large {
	left: 10px;
}

.account .avatar-small {
	border: 1px solid gray;
}

#bd-customcss-attach-controls {
	background-color: #121314;
	color: #FFF;
	border: 0px !important;
}

.bot-tag {
	background-color: #1ED760;
}

.game-input {
	color: #FFF;
}

.hover-roll {
	color: #cccccc;
}

.games-row {
	border-top: 0px;
}

.bd-g-table tbody tr,
.bd-g-table thead th,
.bd-g-table tbody tr:nth-child(odd) {
	background:transparent !important;
}

.bd-g-table textarea {
	color: rgba(255,255,255,0.4) !important;
	background: rgba(255,255,255,0.2) !important;
	border-radius: 1px !important;
	padding: 8px 10px !important;
	box-sizing: border-box;
}

#bd-pane .scroller-wrap div[style*="background:#2E3136; color:#ADADAD; height:30px; position:absolute; bottom:0; left:0; right:0;"] {
	background: #1C1C1F !important;
}

.CodeMirror {
	border-radius: 3px;
}

.bd-minimal .account .btn-group {
	transform: scale(0.8);
}

.bd-minimal .channels-wrap {
	width: 190px;
}

.bd-minimal .avatar-large {
	border-radius: 50%;
	left: 0px !important;
}

.bd-minimal .status {
	transform: scale(0.7);
}

.bd-minimal .channel.channel-text.selected:before,
.bd-minimal .private-channels .channel.selected:before {
	border-left: 2px solid #1ED760 !important;
}

.bd-minimal .friends-online {
	transform: scale(0.8);
	position: relative;
	left: -16px;
}

.bd-minimal .guilds-wrapper .guilds .guild, .bd-minimal .guilds-wrapper .guilds .guild.selected {
	width: 20px !important;
}

ul.bda-slist {
    margin-top: 18px;
    width: 588px;
    margin-left: -34px;
}
.bda-slist li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.56);
    border-top: none;
    border-radius: none;
}
.bda-slist .bda-name {
    color: #159643;
    font-weight: 700;
    font-size: 13px;
}
.bda-slist .bda-description {
    color: #D2D2D2;
    border-top: 1px solid #159643;
    font-size: 14px;
}
.bda-slist li {
    background: rgba(0, 0, 0, 0.56);
    border-bottom: 1px solid #1DB954;
    border-radius: none;
}
#bd-themes-pane .bda-plugin-reload {
    margin-top: 68px;
    margin-left: 20px;
}
.bda-slist .bda-right .btn {
    margin-left: 20px;
}
.bda-slist .bda-right .bda-plugin-settings {
    margin-top: 3px;
}

#bd-psm-s {
	background-color: #121314 !important;
	box-shadow: 0 1px 20px #000;
}
