//META{"name":"Full_Light_Theme","description":"Most or all parts of Discord changed to a lighter way Note: Have your Appearance set to 'Light' when using this theme.","author":"maple","version":"1.18"}*//{}

.tab-bar-item, .chat>.title-wrap>.title, 
.chat>.title-wrap>.title .channel-name,
.channel-textarea-inner textarea {
    color: #FFF !important;
}

.tab-bar-item.bd-tab, #user-profile-modal .tab-bar .tab-bar-item {
    color: #7289da !important;
}

.links, .search-bar-clear {
    display: none;
}

.guilds {
    background: #D4D4D4;
}

.guild.selected:before, 
.guilds li.active .guild-inner:before,
.guilds.unread .guild-inner:before {
    background: #fff;
    border: 1px solid #888;
}

.guild-inner a, .tab-bar.SIDE, 
.guilds-wrapper .guild-separator:after,
.guilds-wrapper .guilds .guild+.guilds-add {
    background: #888;
}

.guild-channels, 
.channel-members, 
.highlight, 
.private-channels, 
.channel-textarea-autocomplete-inner ul {
    background: #BFBFBF;
}

.guild-header header, 
.guild-header header:hover, 
.guild-header.guild-header ul, .search-bar, #friends .friends-header,
#voice-connection {
    background: #9E9E9E;
    box-shadow: none;
}

.guild-channels ul .channel a {
    opacity: .6;
}

.account, #voice-connection {
    background: #9E9E9E;
    border-top: none;
}

.channel:not(.selected):hover, 
.guild-channels ul .channel-text:hover,
.channel-members .member:hover, 
.channel-members .popout-open, 
.channel-textarea-autocomplete-inner ul li.active, 
.channel.selected {
    background: rgba(235,232,218,.45) !important;
}

.channel-text.selected {
    background: rgba(225,222,208,.45) !important;
}

.btn-group{
    border: 1px solid #7D7D7D !important;
    background: #888;
}

.channel.channel-text.unread:before, 
.guilds-wrapper .guilds .guild.unread:before,
.guilds-wrapper .guilds .guild.selected:before,
.guild-channels .channel-text:before  {
    border: 1px solid #FFF !important;
    background: #7289EA !important;
}

.guild-channels .channel-text:hover.channel-muted:before, 
.guild-channels .channel-text:hover:not(.unread):before {
    border-left: 2px solid #7289da !important;
}

.btn-mute, .btn-deafen, .btn-settings {
    background: none !important;
}

.btn-mute, .btn-deafen, .channel-textarea-upload,
#voice-connection .btn-info {
    border-right: 1px solid #ADADAD !important;
}

.btn-deafen, .btn-settings, #voice-connection .btn-disconnect {
    box-shadow: none !important;
}

.messages-wrapper, .flex-spacer, .title-wrap, .typing, #friends {
    background: #D4D4D4 !important;
}

.channel-textarea-inner {
    background: #9E9E9E;
    color: #fff !important;
}

.channel-textarea-autocomplete-inner header, 
.channel-textarea-autocomplete-inner:after,
.title-wrap {
    border-bottom: none;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background: #ADADAD;
    border: 3px solid #BDBDBD;
}

.channel:not(.selected):hover.channel:not(.selected):hover a, 
.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):hover, 
.guild-channels .channel-text.unread:not(.selected) .channel-name:hover {
    opacity: 1;
}

.channel:hover .channel-name {
    opacity:1 !important;
}

.guild-channels .channel-text.unread:not(.selected) .channel-name {
    opacity: .5;
}

.guild-channels .channel a {
    opacity: .65;
}

.message-group a {
    color: #00B0F4 !important;
}

.search-bar input {
    border: none !important;
    box-shadow: none !important;
}

.user-popout .body .notes textarea {
    color: #484848 !important;
}

.markup {
    color: #484848 !important;
    padding-top: 2px;
    padding-left: 8px;
}

#voice-connection .btn, .channel-textarea-inner textarea {
    background-color: transparent;
}

/* very messy */
