//META{"name":"IOS_switches","description":"Turns checkboxes into IOS switches","author":"Beard_Design","version":"1.1.0"}*//{}

/*---------------------Made By Beard Design-----------------------*/
.checkbox .checkbox-inner input[type=checkbox]:checked+span:after{
    background:#fff!important;
    top:1px;
    border-right:0px;
    border-bottom:0px;
    transform:translate(10px,0px);
    transition-delay:0s!important;
    animation:chkbox 300ms ease!important;
}
@keyframes chkbox{
    0%{
        width:20px;
        transform:translate(1px,0px);
    }
    20%{
        width:25px;
    }
    100%{
        transform:translate(10px,0px);
        width:20px;
    }
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span{
    background:#4CD964;
    border:0px;
    height:22px;
    width:35px;
    top:-2px;
    border-radius:100px;
    animation-name:none!important;
    
}
.checkbox .checkbox-inner span{
    top:-2px;
    height:22px;
    width:35px;
    border-radius:100px;
    border:0px;
    background:#A6A6A6;
    box-shadow:0px 1px 2px rgba(0,0,0,0.2) inset;
}
.checkbox .checkbox-inner+span{
    margin-left:20px
}
.checkbox .checkbox-inner span:after{
    content: "";
    position: absolute;
    background:#fff;
    transform:rotate(0deg)translate(1px,0px);
    height:20px!important;
    width:20px!important;
    top:1px;
    border-radius:100px;
    border-right:0px;
    border-bottom:0px;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    animation:chkbox2 200ms ease!important;
}
@keyframes chkbox2{
    0%{
        width:20px;
        transform:translate(13px,0px);
    }
    50%{
        width:25px;
    }
    100%{
        transform:translate(1px,0px);
        width:20px;
        margin-right:0px;
    }
}
.checkbox:active .checkbox-inner input[type=checkbox]:checked+span{
    transform:scale(1)!important;
    transition:all 100ms ease;
}
.bda-slist .checkbox {
    margin-top: -116px;
}
.context-menu .checkbox{
	transform:translate(-13px);
}
/*---------------------Made By Beard Design-----------------------*/
