//META{"name":"OriginalModern","description":"Black with red highlights.","author":"mat3","version":"0"}*//{}

.channel-members .member .member-activity {
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    color: rgba(0, 255, 255, 0.54);
}

.theme-dark .channel-members h2 {
    color: rgb(210, 210, 210);
    text-align: center;
    font-weight: bold;
}

.avatar-large {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    border-radius: 10px;
}

.avatar-popout {
    width: 90px;
    height: 90px;
    background-size: 90px 90px;
    border-radius: 20%;
}

.guild-channels header {
    font-size: 12px;
    color: rgb(210, 210, 210);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    text-transform: uppercase;
    letter-spacing: .025em;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-transition: opacity .15s ease;
    transition: opacity .15s ease;
    cursor: pointer;
    margin: 0;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    font-weight: bold;
    opacity: 1;
}

.guild-channels .channel a {
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.theme-dark .message-group:not(.has-divider) {
    border-bottom-color: #36393e;
}

.account .btn-deafen, .account .btn-mute {
    border-right: none;
}

.account .btn {
    width: 32px;
    height: 32px;
    background: #36393e;
    position: relative;
}

.account .btn-group {
    border: #36393e;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
}

.user-popout .header {
    padding: 0;
    text-transform: none;
    padding-bottom: 10px;
    background: rgba(54, 57, 62, 0.83);
    background-size: 270px 213px;
}

.user-popout .body {
    background: rgba(54, 57, 62, 0.83);
}

.theme-dark .channel-textarea-inner .channel-textarea-upload {
    border-right-color: #36393e;
}

.theme-dark .channel-textarea-inner {
    border-color: #36393e;
    background-color: #36393e;
}

.theme-dark .channel-textarea-inner textarea {
    color: cyan;
    background-color: transparent;
}

.theme-dark .friends-table .messages .divider.divider-red>span, .theme-dark .messages-wrapper .messages .divider.divider-red>span {
    color: cyan;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.theme-dark .friends-table .messages .divider.divider-red>div, .theme-dark .messages-wrapper .messages .divider.divider-red>div {
    background: cyan;
    opacity: .4;
}

.theme-dark .chat form {
    border-top: 1px solid hsla(177, 100%, 50%, 0);
}

.channel-textarea-inner textarea {
    text-align: center;
}

.guild-channels {
    background-color: #2e3136;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.account {
    height: 70px;
    background: #2e3136;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    border-top: 1px solid #2e3136;
    flex-shrink: 0;
}

.links {
    border-top: 1px solid #2e3136;
    background: #2e3136;
    padding: 7px 10px;
    font-size: 10px;
    flex-shrink: 0;
}

.guilds-wrapper {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    width: 80px;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #2e3136;
    flex-shrink: 0;
}

.guilds-wrapper .guilds-add {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #2e3136;
    color: #535559;
    border: 1px dashed #535559;
    padding: 0;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    line-height: 100%;
    -webkit-transition: border-color .25s ease,color .25s ease;
    transition: border-color .25s ease,color .25s ease;
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: #36393e;
    border-color: #36393e;
}

