//META{"name":"Modal-anim-2","description":"-","author":"Beard_Design","version":"2.0.0"}*//{}

.modal {
    opacity: 1!important;
    -webkit-transform: scale(1) translateZ(0px)!important;
            transform: scale(1) translateZ(0px)!important;
    -webkit-animation:modalanim 300ms cubic-bezier(0,0,0,1);
            animation:modalanim 300ms cubic-bezier(0,0,0,1);
    -webkit-transition: all 100ms;
    transition:all 100ms;
    -webkit-transition-delay:5s;
            transition-delay:5s;
}

@-webkit-keyframes modalanim{
    from{
        -webkit-transform:translate(0,100%);
                transform:translate(0,100%);
        opacity:0;
    }
    
    to{
        -webkit-transform:translate(0,0%);
                transform:translate(0,0%);
        opacity:1;
    }
}

@keyframes modalanim{
    from{
        -webkit-transform:translate(0,100%);
                transform:translate(0,100%);
        opacity:0;
    }
    
    to{
        -webkit-transform:translate(0,0%);
                transform:translate(0,0%);
        opacity:1;
    }
}
span:active .modal{
    -webkit-transition-delay:0s;
            transition-delay:0s;
    -webkit-transform:translate(0,-100%)!important;
            transform:translate(0,-100%)!important;
}
span:active .modal:hover{
    -webkit-transform:translate(0,0)!important;
            transform:translate(0,0)!important;
}
.callout-backdrop:active {
  opacity: 0!important;
  -webkit-transition: all 100ms!important;
  transition: all 100ms!important;
    -webkit-transition-delay:0s;
            transition-delay:0s
}

.callout-backdrop {
  -webkit-transition-delay: 5s;
          transition-delay: 5s;
}

.callout-backdrop {
  opacity: 0.9!important;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-animation-name: bg-in;
  animation-name: bg-in;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
    -webkit-transition-delay:100s!important;
            transition-delay:100s!important;
}

@-webkit-keyframes bg-in {
  0% {
    opacity: 0;
  }
  100% {}
}

@keyframes bg-in {
  0% {
    opacity: 0;
  }
  100% {}
}
