//META{"name":"Sleeping_Beauty","description":"A soft little theme for Disney fans!","author":"Maple","version":"1.41"}*//{}

/* Background */
.app {
    background-image: url(https://i.imgur.com/3BmiR08.jpg);
    background-size: 128% !important;
    background-position: center;
}

/*Transparency*/
#voice-connection, #friends, .friends-table, .private-channels .channel.selected, 
.search-bar, .guilds-wrapper, .channels-wrap, .guild-channels, .account, .links, 
.title-wrap, .content, .chat-empty, .private-channels, .guild-header header, .typing, 
.messages-wrapper, .divider-red span, .channel-members, .title-wrap, .chat>.content, 
.channel-notification-settings .content .flex-spacer {
    background: transparent !important;
}

 .channel-arrow:hover {
    background-color: transparent !important;
}

/*unneeded*/
.links, #friends .friends-table .friends-table-header .friends-column-separator, #friends .friends-column-separator, .app button[data-reactid=".0.1.1.0.2.0.2.3"],  

.header-toolbar button:last-of-type {
    display: none;
}

/*Friends*/
#friends .friends-header {
    background-color: rgba(20,23,27,.4) !important;
    border-bottom: none;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 402px;
}

#friends .friends-header .tab-bar .tab-bar-item:hover:not(.selected) {
    background-color: rgba(235,232,218,.5) !important;
}

#friends .friends-empty.section-online .empty-state-image, #friends .friends-empty.section-pending .empty-state-image, #friends .friends-empty.section-blocked 

.empty-state-image, #friends .friends-empty.section-all .empty-state-image {
    opacity: .85;
}


#friends .friends-table .friends-row {
    background-color: rgba(20,23,27,.4) !important;
    width: 920px;
    height: 40px;
    position: relative;
    right: 30px;
    padding-left: 15px;
    margin-right: 72px;
}

#friends .friends-table .friends-row:hover {
    padding-left: 15px;
    margin-right: 72px;
    right: 20px;
}

#friends .friends-table .friends-row .friends-column-name, #friends .friends-table .friends-row .friends-column-status {
    color: #edeff8;
}

strong {
    position: relative;
    white-space: pre-line;
    padding-right: px;
    padding-left: 2px;
}

#user-profile-modal .scroller {
   background: #fff;
}

.private-channels .channel a .badge {
    position: relative;
    right: 5px;
}

/*Guild area*/
.guilds-wrapper {
    width: 80px;
}

.guilds {
    background: rgba(20,23,27,.58);
}

.guilds-wrapper .guilds .guild {
    margin-left: 1px;
}

.guilds-wrapper .guilds .guild+.guild {
    margin-top: 12px;
}

.guilds-wrapper .guilds .guild .guild-inner {
    background: rgb(157,154,160) !important;
    border-radius: 99px !important;
}

.badge {
    animation: zoom 3.7s infinite;
}

@keyframes zoom {
    0% {
        -webkit-transform: scale(1,1);
    }
    7% {
        -webkit-transform: scale(1,1);
    }
    41% {
        -webkit-transform: scale(1.16,1.16);
    }
    52% {
        -webkit-transform: scale(1.16,1.16);
    } 
    90% {
        -webkit-transform: scale(1,1);
    }                                    
    100% {
        -webkit-transform: scale(1,1);
    }
}

.guilds-wrapper .guilds .guild .avatar-small {
    width: 50px;
    height: 50px;
    background-size: 52px 52px;
    border-radius: 99px !important;
}

.guild .friends-online {
    color: hsla(0,0%,100%,.56);
}

/*Selected guild & unread messages*/
.guilds-wrapper .guilds .guild.unread:before {
    background-color: rgba(235,232,218,.5);
    width: 59px;
    height: 59px;
    margin-top: -29px;
    margin-left: 17px;
    border-radius: 99px !important;
}

.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before {
    content: ' ';
    width: 12px;
    height: 25px;
    border-radius: 10px;
    background: #edeff8;
    opacity: 0.72;
    position: absolute;
    top: 5px;
}

.guilds-wrapper .guilds .guild.selected:before {
    background-color: rgba(235,232,218,.5);
    width: 59px;
    height: 59px;
    margin-top: -29px;
    margin-left: 17px;
    animation: active 10s infinite !important;
    border-radius: 99px !important;
}

.guilds-wrapper .guilds .guild.selected {
    background: #738bd7;
    border-radius: 99px !important;
}

.guilds-wrapper .guilds .guild.unread:before {
    animation: fade 3s infinite;
}

@keyframes fade {
    0% {opacity: .3;}
    50% {opacity: .5;}
    100% {opacity: .3;}
}

@keyframes active {
    0% {opacity: 1;}
}

/*Create new guild button*/
.guilds-add {
    opacity: .92;
}


/*Guild name*/
.guild-header span {
    text-shadow: 1px 1.35px 1.5px rgba(0,0,8,1);
}

/*Guild settings*/
.guild-header ul {
    opacity: 0;
    transition: transform .5s cubic-bezier(0.18,0.89,0.32,1.28);
    background: #9D9AA0;
    border: 1px solid #CDCDCD;
}

.guild-header ul a, .guild-header ul a.red-highlight {
opacity: .9;
text-shadow: 1px 1px #3E3E3E;
}

.guild-header-open ul {
    opacity: 1;
}

.btn-hamburger span {
    background: #fff;
}

.guild-header header {
    box-shadow: none;
}

/*Channel area*/
.guild-channels .channel-text.selected {
    background: rgba(235,232,218,.45);
}

.channel:not(.selected):hover {
    background: rgba(235,232,218,.4);
}

.channel:not(.selected):hover.channel:not(.selected):hover a, 
.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):hover, 
.guild-channels .channel-text.unread:not(.selected) .channel-name:hover {
    opacity: 1;
    color: #fff;
}

.channel:hover .channel-name {
    opacity:1 !important;
}

.guild-channels .channel-text.unread:not(.selected) .channel-name {
    opacity: .5;
}

.guild-channels .channel a {
    opacity: .65;
}


/*Voice panel*/
#voice-connection {
    border-top: none;
}

.guild-channels ul .channel-voice:not(.locked):hover a, .channel:not(.selected):hover {
    opacity: 1;
}

/*Buttons*/
#voice-connection .btn,
.account .btn {
    border: none;		
    border-bottom: solid 1px rgba(235,232,218,.25);
    opacity: .65;
}

#voice-connection .btn-group,
.account .btn-group {
    box-shadow: none;
    border: 1px rgba(10,10,10,.9);
}

/*User settings*/
.account .username {
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 1.35px .75px 1px rgba(0,0,8,1);
}

.account {
    border-top: none;
    margin-left: 15px;
}

/*Channel info*/
.flex-spacer .title-wrap {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-top: none;
    border-style: solid;
    border-color: transparent;
}

/*Channel title*/
.topic {
    color: #cdcdcd !important;
    margin-right: 230px;
    white-space: nowrap;
}

.chat .title-wrap {
    border-bottom: none !important;
}

/*Chat area*/
.content .flex-spacer {
    background: rgba(20,23,27,.58);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.messages {
    border-top-left-radius: 26px;
}

.markup {
    padding-top: 2px;
    padding-left: 8px;
}

.message-group {
    padding: 10px 20px;
    margin-left: 5px;
}

.message-group .avatar-large {
    margin-right: 12px;
    margin-left: -7px;
}

.spoiler:before {
    content: "Spoiler";
    display: block;
    background: rgba(0,0,4,.8);
    color: #ADADAD;
    min-height: 20px;
    text-align: center;
    line-height: 100%;
    padding-top: 5px;
}

/*Unread messages*/
.chat .new-messages-bar {
    background-color: rgba(237, 239, 248,.87);
}

.chat .new-messages-bar:hover {
    background-color: rgba(237, 239, 248,1);
}

.chat .new-messages-bar button:last-child {
    text-transform: capitalize;
    font-size: 12px;
    color: #edeff8;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.chat .new-messages-bar button:first-child {
    font-size: 14px;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 155px;
}

.chat .new-messages-bar button {
    text-align: center;
    background: #bcbdc2;
    color: #edeff8;
    font-weight: 700;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    padding: 4px 30px;
    line-height: 14px;
}

.message-group .edit-message .edit-container-outer .avatar-large {
    opacity: 0;
    padding: 10px;
}

/*Mention*/
.markup .highlight {
    background-color: rgba(255,255,255,.1);
    color: #ddd;
    border-radius: 10%;
}

.markup .highlight:hover {
    background-color: rgba(0,0,0,1);
    color: #ddd;
    border-radius: 10%;
}

/*URLs*/
.message-group a span {
    color: #5af;
    text-shadow: 1px 1px 0 #001a33;
}

/*Code blocks*/
.markup code {
    background: rgba(0,0,0,0.3) !important;
}

.markup pre {
    background: none !important;
    border: 1px solid rgba(0,0,0,0.34) !important;
}

/*Scrolling bar*/
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0,0,0,0.25) !important;
    background-color:rgba(0,0,0,0.6) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border: 3px solid rgba(255,255,255,0) !important;
    background-color: rgba(0,0,0,0.3) !important;
}

/*Message area*/
.channel-textarea {
    margin: 10px 0 10px -10px;
    width: 102%;
}


.channel-textarea .channel-textarea-inner {
    background: rgba(10,13,16,.1);
}

#bda-qem-twitch-container {
    background-color: rgba(0,0,0,.86);
}

#bda-qem button, #bda-qem button:hover {
    background: transparent;
    border-left: none;
    box-shadow: none;
    color: #cdcdcd;
}

.bda-dark #bda-qem button.active {
    background-color: rgba(30,30,30,.5);
}


/*Typing status*/
.typing {
    font-size: 13px;
}

/*Settings panel*/
.settings .settings-header {
    background: #1A1D20;
}

.form .btn-primary {
    background-color: #1D6586;
}

.form .btn-primary:hover {
    background-color: #25ACE8;
}

.user-settings-modal a {
    color: #1D6586;
}

.user-settings-modal a:hover {
    color: #25ACE8;
}

/*Channel members*/
.channel-members-wrap {
    background-color: rgba(20,23,27,.58) !important;
}

.member-username {
    text-shadow: 0 1px 1px rgba(0,0,8,1);
}

.channel-members-wrap .member-inner div {
    -webkit-filter: none;
}

.channel-members .invite-btn {
    background: #1d4063;
    transition: background .3s ease-out;
}

.channel-members .invite-btn:hover {
    background: #39f;
    transition: background .2s ease-in;
}

.channel-members .member:hover,
.channel-members .popout-open {
    background: rgba(255,255,255,0.07) !important;
}

.status {
    border-color: rgba(0,0,0,.5) !important;
}

.win-buttons {
    position: absolute;
    top: -10px;
    right: 4px;
}

.header-toolbar {
    z-index: 1;
    position: absolute;
    right: 30px;
}

/*embed*/
.embed-video-actions-inner {
    padding: 5px 10px !important;
    position: relative;
    top: 130px;
}

/*popout profile*/
#user-profile-modal .header .discord-tag .username {
    max-width: 165px;
    max-height: 58px;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    font-size: 19px;
    word-wrap: break-word;
}

/*mini popout profile thing*/
.user-popout .header {
    background: rgba(114,137,218,0.8);
}

.user-popout .body, .user-popout .footer {
    background: rgba(255,255,255,0.8);
    border-top: none;
}

/*backdrop*/
.callout-backdrop{
    background: url(https://i.imgur.com/3BmiR08.jpg) !important;
    background-size: 127.7% !important;
    opacity: .92 !important;
    -webkit-filter: brightness(96%);
    background-position: center !important;
    animation: fadein 1s;
}

@keyframes fadein{
    0% {opacity: 0;
    background-size: 128% !important;}
    9% {opacity: 0.01;}
    35% {opacity: 0.84;}
    60% {opacity: 0.87;}
    72% {opacity: 0.89;}
    89% {opacity: 0.90;
    background-size: 127.7% !important;}
    100% {opacity: 0.91;}
}

/* settings */
.tab-bar.SIDE {
    margin-right: -17px;
    background-color: rgba(60,60,75,.6)
}

.user-settings-modal-games {
    background-color: rgba(255,255,255,.8);
}

.now-playing {
    background-color: rgba(114,137,218,0.8);
}

.settings .settings-header, 
.settings .settings-inner, 
.scroller.settings-wrapper.settings-panel, 
.bd-customcss-innerpane, 
.voice-settings, 
.radio-inner, .streamer-mode-enabled {
    background: rgba(240,240,240,0.4) !important;
}

.Select-value {
    background: rgb(20,240,240) !important;
}

.settings .settings-actions {
    border-top: none !important;
    background: rgba(100,100,110,.7) !important;
}

.settings-section.control-groups {
    background-color: rgba(240,240,240,0.4);
}

.notification-settings-modal-channel-settings-header {
    background-color: rgba(240,240,240,0.3);
}

.form-header,
.form-inner,
.form-actions {
    background: rgba(240,240,240,0.74) !important;
}

.btn-confirm {
    background-color: rgba(230,20,20,0.2);
}

/* buttons */

.form .btn-default {
    padding: 10px 0;
    width: 75px;
    height: 35.5px;
    border-radius: 3px;
}

/* pinned messages */

.messages-popout-wrap .header, .messages-popout-wrap .footer  {
    background-color: rgba(20,20,20,.8) !important;
}

.messages-popout-wrap {
    background-color: rgba(30,30,30,.85) !important;
}

.messages-popout-wrap .message-group {
    background-color: rgba(200,250,250,.08) !important;
}

.message-group:hover .action-buttons {
    box-shadow: 0 0 6px 0px rgba(37,172,232,.13) !important;
    background-color: rgba(37,172,232,.13) !important;
}

.private-channels .search-result.selected, .private-channels .search-result:hover {
    background: rgba(235,232,218,.45) !important;
}

/*I give up on keeping this clean*/

.channels-wrap,  #friends {
    background: rgba(40,40,50,.2) !important;
}
.guilds-wrapper {
    background: rgba(20,20,20,.58) !important;
}
.guild-channels * {
    text-shadow: 1px 1.35px 1.5px rgba(0,0,8,.5);
}
.search-bar, .chat .title-wrap {
    box-shadow: none !important;
}
.private-channel-call {
    margin-bottom: -20px;
    border-top-left-radius: 26px;
    z-index: 1;
}
.chat {
    background-color: rgba(40,40,50,.2) !important;
}
