//META{"name":"Titlebar","description":"Display a titlebar on top of the window.","author":"Beard_Design","version":"1.0.0"}*//{}

/*-------------------made by Beard Design-------------------------*/

.titlebar{
    background:#212121;
    height:35px!important;
}

.titlebar:after{
    content:"Discord";
    position:absolute;
    top:9px;
    left:40px;
    font-weight:600;
    color:#fff;
    opacity:0.6
}

.titlebar:before{
    content:url(https://discordapp.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg);
    position:absolute;
    top:7px;
    left:15px;
    font-weight:600;
    color:#fff;
    opacity:0.6;
    height:20px;
    width:20px
}

.win-buttons button{
    height:33px!important;
    width:40px!important;
    background-size: 23px;
    background-repeat:no-repeat;
}

.win-buttons{
    height:36px;
    right:0px;
}

.app{
    margin-top:35px
}
.separator-win{
    display:none
}

/*-------------------made by Beard Design-------------------------*/